*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

body {
  height: 100%;
  width: 96%;
  z-index: -1;
  padding: 10px;
  background: #3a158e;
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5f6f7;
  font-family: 'Popins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  overflow-y: auto;
}

header {
  max-width: 700px;
  min-width: 300px;
  padding: 0 0.625rem;
  margin: 1.875rem auto;
  text-align: center;
}

#title {
  margin-top: 30px;
  line-height: 1.2;
  font-weight: 300;
}
  
#title, 
#description {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  font-family: 'Poppins', sans-serif;
  color: #f3f3f3;
}

#description {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 200;
}
  
form {
  width: 80vw;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 2em;
  background-color: #1b1b32cc;
  z-index: -1;
  border-radius: 5px;
}

fieldset {
  position: inherit;
  padding: 5px;
  margin-bottom: 10px;
  border: 0px;
}

.form-group {
  margin: 10px auto 25px;
}

label {
  vertical-align: middle;
}
  
label, input, select {
  display: block;
  width: 98%;
  font-family: inherit;
  font-size: 1.125rem;
  font-style: inherit;
  margin: 0px auto;
  border: 0px;
}

input, select, textarea {
  padding: 7px;
  border-radius: 5px;
  margin: 5px 0px;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255/ 25%);
}

select {
  color: #495057;
}

select:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255/ 25%);
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255/ 25%);
}
  
input[type="submit"] {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #37af65;
  border-radius: 5px;
  border: 1px solid #37af65;
  color: inherit;
}

input[type="radio"], input[type="checkbox"] {
  display: inline-flex;
  width: 20px;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

textarea {
  width: 98%;
  font-size: 1.065rem;
}

footer {
  text-align: center;
  margin: 10px auto;
  padding: 10px 0px;
}